@import "~bootstrap/scss/bootstrap";

:root {
  --theme: #5b4f8e;
  --background: #f0f1f3;
}

$theme: #3129af;
button:focus,
button:active {
  outline: none;
  box-shadow: none;
}
button {
  line-height: 20px;
}
html,
body {
  font-family: "Baloo Chettan 2", "Montserrat", cursive, "Raleway", sans-serif;
}
h1,
h2,
h3,
h4,
p,
span {
  margin: 0px;
}
.content-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 767px) {
  .content-row {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
  }
}
