.admin-container {
  width: 100vw;
  height: 100vh;
}
.admin-navbar {
  display: none;
}
.content-container {
  background-color: var(--background);
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
}
.admin-header {
  background-color: white;
  padding: 10px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h5 {
    margin: 0px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
  }
}
.content {
  overflow: scroll;
  padding: 20px;
  height: calc(100% - 50px);
}
.hamburger-menu {
  width: 30px;
  height: 30px;
  padding: 4px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--theme);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.navbar-ul {
  list-style: none;
  display: flex;
  padding: 0px;
  padding-left: 10px;
  margin: 0px;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  .logo-list {
    display: block;
    margin-top: 0px;
    text-align: center !important;
    .logo {
      color: white;
      cursor: pointer;
      margin-left: 20px;
      font-size: 40px;
      margin-bottom: 30px;
    }
  }
  .link-item {
    padding: 10px;
  }
  .nav-item {
    padding: 0px;
    a {
      padding: 8px 15px;
      font-family: "Raleway";
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 16px;
      color: white;
    }
  }
}
.search-slot {
  display: none;
}
.avatar-slot {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  .noti-container {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 0px;
    border-left: 1px solid var(--background);
    border-right: 1px solid var(--background);
    height: 40px;
    width: 100px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 767px) {
  .admin-navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 150px;
    height: 100%;
    background: var(--theme);
    display: block;
  }
  .content-container {
    margin-left: 150px;
  }
  .admin-header {
    margin: 0px 20px;
    height: 50px;
    h5 {
      font-size: 18px;
    }
  }
  .content {
    height: calc(100% - 50px);
  }
  .sidenav,
  .hamburger-menu {
    display: none;
  }
  .navbar-ul {
    padding-left: 20px;
    align-items: center;
    .nav-item {
      width: 100%;
      text-align: left;
      a {
        padding: 0px;
      }
    }
    .nav-item:first-child {
      margin-bottom: 80px;
    }
    .logo-list {
      display: block;
      margin-top: 40px;
      text-align: center !important;
      .logo {
        font-size: 50px;
        margin-left: 0px;
        margin-bottom: 0px;
      }
    }
    .link-item {
      position: relative;
      color: white;
      padding: 10px 0px 10px 20px;
      transition: background-color 0.1s ease-in;
      margin-bottom: 20px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      a {
        text-align: left;
        transition: background-color 0.1s ease-in;
        text-decoration: none;
        font-size: 14px;
      }
      cursor: pointer;
    }
    .link-item:hover {
      background-color: var(--background) !important;

      a {
        color: var(--theme) !important;
      }
    }
  }
  .search-slot {
    display: block;
    width: 35%;
  }
  .avatar-slot {
    .noti-container {
      padding: 0px 10px;

      width: 120px;
    }
  }
}
