$theme: #3129af;

.edurite-navbar {
  background-color: $theme;
  .navbar-brand {
    margin-left: 1rem;
    color: white;
  }

  .flex-end {
    justify-content: flex-end;
  }
  .navbar-nav {
    align-items: flex-start;
    .nav-link {
      color: white;
      padding: 0.5rem 1rem;
    }
  }
  .login-button {
    background-color: white;
    color: $theme;
    border-color: transparent;
    line-height: 16px;
    height: 30px;
    margin-left: 1rem;
  }
  .login-button:focus,
  .login-button:active {
    outline: none;
    box-shadow: none;
  }
  .navbar-toggler-icon {
    width: 1.3em;
    height: 1.3em;
  }
  .white-toggle {
    background: white;
    padding: 0.1rem 0.35rem;
  }
}
.login-form {
  padding: 1rem;
  margin-bottom: 0px;
  .error-text {
    color: red;
  }
}
@media screen and (min-width: 767px) {
  .navbar-nav {
    align-items: center !important;
  }
}
a:hover {
  color: white !important;
}
