.icon-avatar-container {
  border-radius: 50%;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}
