.calendar-container {
  width: 100%;
  margin-bottom: 20px;
  .class3 {
    width: 100%;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    abbr[title] {
      text-decoration: none !important;
    }
    .react-calendar__navigation__prev-button,
    .react-calendar__navigation__next-button {
      margin: 10px 0px;
      border-radius: 10px;
      background-color: rgb(242, 153, 147);
      color: white;
    }
    .react-calendar__navigation__prev-button:active,
    .react-calendar__navigation__prev-button:focus,
    .react-calendar__navigation__next-button:active,
    .react-calendar__navigation__next-button:focus {
      background-color: rgb(242, 153, 147);
    }
  }
}
.perf-container {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 20px;
  .perf-title {
    height: 45px;
  }
  .recharts-surface {
    width: 100% !important;
  }
  .perf-card-title {
    font-size: 15px;
    font-weight: bold;
  }
  span {
    font-size: 13px;
    color: #cbcbcb;
  }
}
@media screen and (min-width: 767px) {
  .calendar-container {
    width: calc(50% - 16px);
  }
  .perf-container {
    width: calc(50% - 16px);
  }
}
